<h1>edit</h1>
<%= form_with model:@wine, local: true do |f| %>
<h4>name</h4>
<%= f.text_field :name %>
<h4>description</h4>
<%= f.text_area :description %>
<h4>image</h4>
<%= f.attachment_field :image %>
<%= link_to "delete", wine_path(@wine.id), class:"btn btn-danger btn-lg  btn-base-1 mt-20", method: :delete, "data-confirm" => "本当に削除しますか？" %>
<%= f.submit "redact", class:"btn btn-lg  btn-base-1 mt-20" %>
<% end %>