<div class="winer">
  <h1 class="title">wines</h1>
  <div class="line">
  <table class="table table-inverse">
    <thead>
    <tr>
     <td>name</td>
     <td align="center">wine</td>
     <td></td>
     <td></td>
    </tr>
    </thead>
    <tbody>
  <% @wines.each do |wine| %>
  <tr></tr>
  <tr class="winer">
  <td><%= link_to wine.name, wine_path(wine.id) %></td>
  <td align="center"><%= attachment_image_tag wine, :image, class: "image" %></td>
  <td><h3><%= wine.likes.count %></h3></td>
  <td><% if current_user.already_liked?(wine) %>
    <%= button_to 'いいねを取り消す', wine_like_path(wine,current_user.likes.find_by(wine_id:wine.id)), method: :delete %>
  <% else %>
    <%= button_to 'いいね', wine_likes_path(wine) %>
  <% end %>
  </td>
  <%# wine.liked_users.each do |user| %>
    <%#= user.email %>
  <%# end %>
  </tr>
  <% end %>
  </tbody>
  </table>
  </div>
</div>