<h1>Detail</h1>
<p>name</p>
<%= @wine.name %>
<p>explanation</p>
<%= @wine.description %>
<h3><%= @wine.likes.count %></h3>
<% if current_user.already_liked?(@wine) %>
  <%= button_to 'いいねを取り消す', wine_like_path(@wine,current_user.likes.find_by(wine_id: @wine.id)), method: :delete %>
<% else %>
  <%= button_to 'いいね', wine_likes_path(@wine) %>
<% end %>
<%= attachment_image_tag @wine, :image, :fill, 300, 300 %>