<header>
 <% if user_signed_in? %>
   <div class="header_block">
      <div class="header_right">
        <%= link_to image_tag('wine.png'), wines_path, class: "header_logo" %>
      </div>
      <nav>
      <ul class="nav">
        <li class="lists">マイページ
          <%= link_to "my page", user_path(current_user.id), class: "header_btn" %></li>
        <li class="lists">ワイン一覧
          <%= link_to "wines", wines_path, class: "header_btn" %></li>
        <li class="lists">新規投稿
          <%= link_to 'new wine', new_wine_path,  class: "header_btn" %></_li>
        <li class="lists">ログアウト
          <%= link_to "log out", destroy_user_session_path, method: :delete,  class: "header_btn" %></li>
        <li class="lists"><%= form_with(url: wines_path, local:true, method: :get) do |f| %>
        <%= f.select :genre , ['red', 'white', 'sparkling'] %>
        <%= f.submit 'post' %>
 <% end %>
        </li>
      </ul>
      </nav>
    </div>
      
 <% else %>
      <div class="header_block">
        <div class="header_right">
          <%= link_to image_tag('wine.png'),root_path, class: "header_logo" %>
        </div>
        <nav>
        <ul class="nav">
          <li class="lists">このサイトについて
            <%= link_to "about", top_about_path, class: "header_btn" %></li>
          <li class="lists">新規登録
            <%= link_to "sign up", new_user_registration_path, class: "header_btn" %></li>
          <li class="lists">ログイン
            <%= link_to "log in", new_user_session_path, class: "header_btn" %></li>
        </ul>
       </nav>
    </div>
  <% end %>
 </header>